h1.edition-title {
	font-size: 24px;
}
h4.list-group-item-heading {
    font-size: 16px;
}

ul#link-list {
    box-shadow: none;
    -webkit-box-shadow: none;
}

ul#link-list li.list-group-item {
    border-style: none;
    padding: 12px 15px;
}

#free-book, #book {
    margin-top: 20px;
}

.download-link {
    margin: 5px 0 0 30px;
}

.dropdown-menu {
    max-height: 460px;
    overflow-y: auto;
}

div.book-image {
	background-size: 100% 100%;
    background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 130px;
	width: 100px;
}

div#book div.col-book {
	margin: 0 10px 10px -15px;
}

div.fb-like {
	vertical-align:top;
	zoom:1;
	*display:inline;
}