h4.list-group-item-heading {
    font-size: 16px;
}

ul#link-list {
    box-shadow: none;
    -webkit-box-shadow: none;
}

ul#link-list li.list-group-item {
    border-style: none;
    padding: 8px 15px;
}

#free-book, #book {
    margin-top: 20px;
}

.download-link {
    margin: 5px 0 0 30px;
}

.dropdown-menu {
    max-height: 460px;
    overflow-y: auto;
}